# Copy this file to `.env` and fill in real values.
# `.env` is gitignored. Best practice.
# `.env.example` is committed so FATTY knows what where to inject keys and doesn't do stupid shit like 👇

# git add .env 
# git commit -m "I am a df"
# git push -u origin master --force`

# Run `copy .env.example .env` to create the .env file

GEMINI_API_KEY=your-gemini-key